.rowContainer{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-bottom: 10px;
    justify-content: flex-end;
}
/* only one element gose right and other left  */
.rowContainer div:nth-child(1){
    margin-right: auto;
}
/* bellow line for checkbox */
.rowContainer input:nth-child(1){ 
    margin-right: 5px;
}
.columnContainer{
    display: flex;
    flex-direction: column;
    
}
label:hover, input[type='checkbox']{
    cursor: pointer;
}
