.button button{
    width: 100px;
    height: 30px;
    background-color: rgb(250, 9, 9);
    color: white;
    border: 0ch;
    border-radius: 10px;
    font-size: larger;
    /* margin-top: 10px; */
}

.button button:hover{
    cursor: pointer;
}