.lwh{
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 197, 197);
    padding: 10px;
    margin-top: 10px;
}

.lwh label{
    font-size: larger;
    font-weight: bold;
    /* margin-left: 50px; */
}

.lwh input[type='number']{
    width: 100px;
    height: 25px;
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0ch;
}

.lwh td{
    padding: 5px;
}