.lw{
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 197, 197);
    padding: 10px;
    margin-top: 10px;
}

.lw label{
    font-size: larger;
}

.lw input[type='number']{
    width: 100px;
    height: 25px;
    padding: 0px 5px 0px 5px;
    outline: none;
    border-radius: 5px;
    border: 0ch;
}
.lw input[type='number']:focus{
    border: 1px solid black;
}

.lw .rowContainer{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-bottom: 10px;
}

.lw .columnContainer{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}