.rowContainer{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    column-gap: 30px;   
    margin-bottom: 10px; 
}

.columnContainer{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px){
    .rowContainer{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .rowContainer .columnContainer input{
        margin-bottom: 10px;
    }
}